:root {
  --color-1: teal;
  --color-2: coral;
  --top-section-height: 54px;
  --bottom-section-height: 398px;
  --mid-section-height: calc(100vh - var(--top-section-height) - var(--bottom-section-height));
  --top-controls-height: 68px;
  --right-controls-width: 248px;
  --left-controls-width: 180px;
}